---
before_install:
  - gem update --system
  - gem update bundler
language: ruby
rvm:
  - 2.3.8
  - 2.4.6
  - 2.5.5
  - 2.6.3
  - ruby-head
  - jruby-9.1.17.0
  - jruby-9.2.6.0
env:
  global:
    NOBENCHMARK=1
script: rake
matrix:
  allow_failures:
    - rvm: jruby-9.1.17.0
    - rvm: jruby-9.2.6.0
    - rvm: ruby-head
