<nav id="nav">
  <h3 class="title">&lt;/&gt; <%= @title %></h3>

  <input id="side-search" type="text" placeholder="Search docs"></input>

  <ul id="navigation-list">
    <li id="getting-started"><a href="<%= rel_prefix %>/index.html">Getting started</a></li>
    <p class="separator">PAGES</p>
    <%= create_sidebar_page_entries(@grouped_files, rel_prefix) %>
    <p class="separator">CODE</p>
    <%= create_sidebar_class_entries(@grouped_classes[nil], rel_prefix) %>
  </ul>
</nav>
