<dialog id="search-shortcuts" class="search-shortcuts" aria-labelledby="search-shortcuts-title">
  <div class="search-shortcuts-heading">
    <h2 id="search-shortcuts-title">Search shortcuts</h2>
    <button type="button" class="search-shortcuts-close" autofocus>Close</button>
  </div>
  <p class="search-shortcuts-intro">A few keys to find your way around.</p>

  <div class="search-shortcuts-group">
    <h3>When you are not typing in an input</h3>
    <dl>
      <div><dt>Focus search</dt><dd><kbd>/</kbd></dd></div>
      <div><dt>Open search shortcuts</dt><dd><kbd>?</kbd></dd></div>
    </dl>
  </div>
  <div class="search-shortcuts-group">
    <h3>When results are shown</h3>
    <dl>
      <div>
        <dt>Move through results</dt>
        <dd><kbd aria-label="Up arrow">↑</kbd> <kbd aria-label="Down arrow">↓</kbd></dd>
      </div>
      <div><dt>Open selected result</dt><dd><kbd>Enter</kbd></dd></div>
    </dl>
  </div>
  <div class="search-shortcuts-group">
    <h3>While search is open</h3>
    <dl>
      <div><dt>Close search</dt><dd><kbd>Esc</kbd></dd></div>
    </dl>
  </div>
</dialog>
