<div id="classindex-section" class="nav-section">
  <details class="nav-section-collapsible" open>
    <summary class="nav-section-header">
      <span class="nav-section-icon">
        <svg><use href="#icon-layers"></use></svg>
      </span>
      <span class="nav-section-title">Classes and Modules</span>
      <span class="nav-section-chevron">
        <svg><use href="#icon-chevron"></use></svg>
      </span>
    </summary>

    <ul id="namespace-navigation" class="link-list nav-list"></ul>
  </details>
</div>
