<nav id="navigation" role="navigation">
  <div id="project-navigation">
    <%= render '_sidebar_search.rhtml' %>
  </div>
  <%= render '_sidebar_classes.rhtml' %>
  <%= render '_sidebar_pages.rhtml' %>
  <%= render '_footer.rhtml' %>
</nav>