<% simple_files = @files.select { |f| f.text? } %>
<% unless simple_files.empty? then %>
<nav id="fileindex-section" class="project-section">
  <header>
    <h3>Pages</h3>
  </header>

  <ul class="link-list">
  <% simple_files.each do |f| %>
    <li><a href="<%= rel_prefix %>/<%= f.path %>"><%= h f.page_name %></a>
  <% end %>
  </ul>
</nav>
<% end %>
