<nav id="file-list-section" class="section">
  <h3 class="section-header">Defined In</h3>
  <div class="section-body">
    <ul>
<% klass.in_files.each do |tl| %>
      <li><%= h tl.absolute_name %>
<% end %>
    </ul>
  </div>
</nav>
