<div id="search-section" class="project-section initially-hidden">
  <form action="#" method="get" accept-charset="utf-8">
    <h3>
      <input type="text" name="search" placeholder="Search" id="search-field"
             title="Type to search, Up and Down to navigate, Enter to load">
    </h3>
  </form>

  <ul id="search-results" class="initially-hidden"></ul>
</div>
