<% unless klass.classes_and_modules.empty? then %>
<!-- Namespace Contents -->
<div id="namespace-list-section" class="section">
  <h3 class="section-header">Namespace</h3>
  <ul class="link-list">
    <% (klass.modules.sort + klass.classes.sort).each do |mod| %>
    <li><span class="type"><%= mod.type.upcase %></span> <a href="<%= klass.aref_to mod.path %>"><%= mod.full_name %></a></li>
    <% end %>
  </ul>
</div>
<% end %>
