<nav id="classindex-section" class="project-section">
  <header>
    <h3>Class and Module Index</h3>
  </header>

  <ul class="link-list">
  <% @modsort.each do |index_klass| %>
    <li><a href="<%= rel_prefix %>/<%= index_klass.path %>"><%= index_klass.full_name %></a>
  <% end %>
  </ul>
</nav>
