<nav id="home-section">
  <header>
    <h3>Documentation</h3>
  </header>

  <ul>
  <% installed.each do |name, href, exists, type, _| %>
    <% next if type == :extra %>
    <li class="folder">
    <% if exists then %>
      <a href="<%= href %>"><%= h name %></a>
    <% else %>
      <%= h name %>
    <% end %>
  <% end %>
  </ul>
</nav>
