<% unless klass.extends.empty? then %>
<nav id="extends-section">
  <header>
    <h3>Extended With Modules</h3>
  </header>

  <ul class="link-list">
    <% klass.each_extend do |ext| %>
  <% unless String === ext.module then %>
    <li><a class="extend" href="<%= klass.aref_to ext.module.path %>"><%= ext.module.full_name %></a>
  <% else %>
    <li><span class="extend"><%= ext.name %></span>
  <% end %>
  <% end %>
  </ul>
</nav>
<% end %>
