<header class="topbar">
  <%= render '_sidebar_toggle.rhtml' %>
  <a href="<%= rel_prefix %>/index.html" rel="home"><%= @options.title %></a>
  <button type="button" aria-label="Search" class="search-button">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
    <span>search</span>
  </button>
</header>

<%= render '_dialog_search.rhtml' %>