<body class="file">
<div id="metadata">
  <%= render '_sidebar_navigation.rhtml' %>

  <div id="project-metadata">
    <%= render '_sidebar_pages.rhtml' %>
    <%= render '_sidebar_classes.rhtml' %>
  </div>
</div>

<div id="documentation">
  <%= file.description %>
</div>

