<body>
<nav id="metadata">
  <%= render '_sidebar_installed.rhtml' %>
</nav>

<div id="documentation" class="description">
  <h1>RDoc Documentation</h1>

  <p>From here you can navigate through documentation for Ruby and your
  installed gems.
</div>

