name: Lint

on:
  push:
    branches:
      - '**'
      - '!dependabot/**'
  pull_request:

permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  lint:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    # libyaml-dev is needed for psych, see https://github.com/ruby/setup-ruby/issues/409
    - if: ${{ matrix.os == 'ubuntu-latest' }}
      run: sudo apt install libyaml-dev
    - name: Set up Ruby
      uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd # v1.288.0
      with:
        ruby-version: 3.3
        bundler-cache: true
    - name: Run rubocop
      run: bundle exec rubocop
    - name: Run herb linter
      # npx should be available by default so we don't need `setup-node` action
      # Don't lint erb files outside of lib as the current directory also includes vendor/bundle
      run: npx @herb-tools/linter "lib/**/*.rhtml"
    - name: Install npm dependencies
      run: npm ci
    - name: Run stylelint
      run: npm run lint:css
