name: ruby-core

on:
  pull_request:

  push:
    branches:
      - master

concurrency:
  group: ci-${{ github.ref }}-${{ github.workflow }}

permissions: # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  ruby_core:
    name: Generate ruby/ruby documentation with the current RDoc commit
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
    timeout-minutes: 30
    steps:
      - name: Set up latest ruby head
        uses: ruby/setup-ruby@922ebc4c5262cd14e07bb0e1db020984b6c064fe # v1.226.0
        with:
          ruby-version: head
          bundler: none
      - name: Save latest buildable revision to environment
        run: echo "REF=$(ruby -v | cut -d')' -f1 | cut -d' ' -f5)" >> $GITHUB_ENV
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v3.1.0
        with:
          repository: ruby/ruby
          path: ruby/ruby
          fetch-depth: 10
      - name: Checkout the latest buildable revision
        run: git switch -c ${{ env.REF }}
        working-directory: ruby/ruby
      - name: Install libraries
        run: |
          set -x
          sudo apt-get update -q || :
          sudo apt-get install --no-install-recommends -q -y build-essential libssl-dev libyaml-dev libreadline6-dev zlib1g-dev libncurses5-dev libffi-dev libgdbm-dev bison autoconf ruby
      - name: Build Ruby
        run: |
          autoconf
          ./configure -C --disable-install-doc
        working-directory: ruby/ruby
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v3.1.0
        with:
          path: ruby/rdoc
      - name: Build RDoc locally
        run: |
          bundle install
          bundle exec rake build:local_ruby
        working-directory: ruby/rdoc
      - name: Generate Documentation with RDoc
        run: make html
        working-directory: ruby/ruby
      # We need to clear the generated documentation to generate them again
      # with the Prism parser.
      - name: Clear Generated Documentation
        run: rm -r .ext/html
        working-directory: ruby/ruby
      - name: Generate Documentation with RDoc (Prism parser)
        run: make html
        working-directory: ruby/ruby
        env:
          RDOC_USE_PRISM_PARSER: true

